body{
    font-family: arial, sans-serif; 
}

.login-form {
    background-color: rgb(255, 255, 255);
    padding:20px;
    max-width: fit-content;
    min-height: fit-content;
    border-radius: 20px;
    border-color: rgb(210, 220, 255);
    border-style: solid;
    text-align: -webkit-center;
}

input[type='submit'] {
    background-color: rgb(37, 54, 247);
    padding: 5px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin:10px
}


h3 {
    font-size: x-large;
}

.center {
    display: flex;
    justify-content: center;
}