<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="center">
        <form class="login-form" #passwordForm="ngForm" *ngIf="logInShow" (ngSubmit)="onSubmit(passwordForm)">
            <h3>Login</h3> 
            <hr><br>
            <label for="pwd" class="form">Passwort: </label><br>
            <input type="password" [(ngModel)]="passwordInput" name="pwd" class="form"><br><br>
        
            <input type="submit" value="Speichern" class="form">
        </form>
    </div> 
</body>
</html>