<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Pricing Broker App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/mindestpreis">Mindestpreis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/kundenzuordnung">Kundenzuordnung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/einstellung">Einstellungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ausnahmen">Ausnahmen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/disqualifikationskriterien">Disqualifikationskriterien</a>
            </li>
            <li class="nav-item">
                <button class="triggerbutton" type="button" (click)="triggerEvent()">Speichern</button>
            </li>
        </ul>
            </div>
        </div>
    </nav>
    <div style="margin: 20px; margin-top: 20px;">
       <router-outlet></router-outlet> 
    </div>
</body>
</html>
