body{
    font-family: arial, sans-serif; 
 }

 table {
    border-collapse: collapse;
    width: 100%;
 }

 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
 }

 tr:nth-child(even) {
    background-color: #f8f8f8;
 }
 
 button {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    color: #333333;
    padding: 8px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
 }

 button:hover {
    background-color: #dddddd;
 }
