
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mindestpreis</h1>
    <form #orgForm="ngForm" (ngSubmit)="onSubmitOrg(orgForm)" style="margin-bottom: 20px;">
        <label for="filter">Org Einheit:</label>
        <input type="text" [(ngModel)]="newOrg" name="filter">
        
        <input type="submit" value="Suchen">
    </form>
    <hr>
    <form>
        <form #editForm="ngForm" *ngIf="editedItem" (ngSubmit)="onSubmitEdit(editForm)" style="background-color:rgb(239, 239, 239); padding: 15px;">
            <h3>Beartbeiten:</h3> 
            <label for="org">ORG:</label>
            <input type="text" [(ngModel)]="editedItem.org" name="org" disabled><br>
        
            <label for="vonLand">Von Land:</label>
            <input type="text" [(ngModel)]="editedItem.vonLand" name="vonLand" disabled><br>
        
            <label for="zuLand">Nach Land:</label>
            <input type="text" [(ngModel)]="editedItem.zuLand" name="zuLand" disabled><br>
        
            <label for="mindPreisKm">Mindestpreis pro Km:</label>
            <input type="number" step="any" [(ngModel)]="editedItem.mindPreisKm" name="mindPreisKm"><br>
        
            <label for="mindPreisLoad">Mindestpreis pro Ladung:</label>
            <input type="number" step="any" [(ngModel)]="editedItem.mindPreisLadung" name="mindPreisLoad"><br>
        
            <input type="submit" value="Speichern">
        </form>
        <table>
            <tr>
                <th>ORG</th>
                <th>Von Land</th>
                <th>Nach Land</th>
                <th>Mindestpreis pro Km</th>
                <th>Mindestpreis pro Ladung</th>
                <th>Edit</th>
            </tr>
            <tr *ngFor="let item of data">
                <td>{{item.org}}</td>
                <td>{{item.vonLand}}</td>
                <td>{{item.zuLand}}</td>
                <td>{{item.mindPreisKm}}</td>
                <td>{{item.mindPreisLadung}}</td>
                <button type="button" class="btn btn-default btn-sm" (click)="editItem(item)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                
            </tr>
        </table>
    </form>
    

</body>
</html>