<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Einstellungen</h1>
    <hr>
    <button type="button" class="btn btn-sm" (click)="createItem(true)">
        <span class="glyphicon glyphicon-edit"></span> Neu
    </button>
    <form #editForm="ngForm" *ngIf="addedItem" (ngSubmit)="onSubmit(editForm)" style="background-color:#f8f8f8; padding: 15px;">
        <h3>Neuer Kunde</h3> 
        <label for="org">ORG Einheit: </label>
        <input type="text" [(ngModel)]="addedItem.orgEinheit" name="orgEinheit" ><br>
    
        <label for="vonLand">Email: </label>
        <input type="text" [(ngModel)]="addedItem.email" name="email" ><br>
    
        <label for="zuLand">ORG EH active: </label>
        <input type="text" [(ngModel)]="addedItem.orgEhActive" name="orgEhActive" ><br>

        <label for="zuLand">HH bis Beladezeitende Preisabgabge: </label>
        <input type="text" [(ngModel)]="addedItem.hhBisBeladezeitendePreisabgabge" name="hhBisBeladezeitendePreisabgabge" ><br>

        <label for="zuLand">HH bis Beladezeitende Gueltigkeit: </label>
        <input type="text" [(ngModel)]="addedItem.hhBisBeladezeitendeGueltigkeit" name="hhBisBeladezeitendeGültigkeit" ><br>
    
        <label for="zuLand">Mindest-preis check: </label>
        <input type="text" [(ngModel)]="addedItem.mindestPreisCheck" name="mindestPreisCheck" ><br>

        <label for="zuLand">Anzahl Ladungen am Tag: </label>
        <input type="text" [(ngModel)]="addedItem.anzahlLadungenAmTag" name="anzahlLadungenAmTag" ><br>

        <label for="zuLand">Multiplikator: </label>
        <input type="text" [(ngModel)]="addedItem.multiplikator" name="multiplikator" ><br>

        <input type="submit" value="Speichern">
    </form>
    <table>
        <tr>
            <th>ORG Einheit</th>
            <th>Email</th>
            <th>ORG EH active</th>
            <th>HH bis Beladezeitende Preisabgabge</th>
            <th>HH bis Beladezeitende Gueltigkeit</th>
            <th>Mindest-preis check</th>
            <th>Anzahl Ladungen am Tag</th>
            <th>Multiplikator</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let item of data">
            <td>{{item.orgEinheit}}</td>
            <td>{{item.email}}</td>
            <td>{{item.orgEhActive}}</td>
            <td>{{item.hhBisBeladezeitendePreisabgabge}}</td>
            <td>{{item.hhBisBeladezeitendeGueltigkeit}}</td>
            <td>{{item.mindestPreisCheck}}</td>
            <td>{{item.anzahlLadungenAmTag}}</td>
            <td>{{item.multiplikator}}</td>
            <button type="button" class="btn btn-default btn-sm" (click)="editItem(item)">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <form #editForm="ngForm" *ngIf="editedItem" (ngSubmit)="onSubmit(editForm)" style="background-color:rgb(239, 239, 239); padding: 15px;">
                <h3>Bearbeiten:</h3> 
                <label for="org">Organization:</label>
                <input type="text" [(ngModel)]="editedItem.org" name="org" disabled><br>
            
                <label for="vonLand">From Country:</label>
                <input type="text" [(ngModel)]="editedItem.vonLand" name="vonLand" disabled><br>
            
                <label for="zuLand">To Country:</label>
                <input type="text" [(ngModel)]="editedItem.zuLand" name="zuLand" disabled><br>
            
                <label for="mindPreisKm">Minimum Price per km:</label>
                <input type="text" [(ngModel)]="editedItem.mindPreisKm" name="mindPreisKm"><br>
            
                <label for="mindPreisLoad">Minimum Price per load:</label>
                <input type="text" [(ngModel)]="editedItem.mindPreisLadung" name="mindPreisLoad"><br>
            
                <input type="submit" value="Save">
            </form>
        </tr>
    </table>
   

</body>
</html>