<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Einstellungen</h1>
    <form #orgForm="ngForm" (ngSubmit)="onSubmitOrg(orgForm)" style="margin-bottom: 20px;">
        <label for="filter">Org Einheit:</label>
        <input type="text" [(ngModel)]="newOrg" name="filter">
        
        <input type="submit" value="Suchen">
    </form>
    <hr>
    <button type="button" class="btn btn-sm" (click)="createItem(true)">
        <span class="glyphicon glyphicon-edit"></span> Neu
    </button>
    <form #newForm="ngForm" *ngIf="addedItem" (ngSubmit)="onSubmitNew(newForm)" style="background-color:#f8f8f8; padding: 15px;">
        <h3>Neuer Kunde</h3> 
        <label for="org">ORG Einheit: </label>
        <input type="text" [(ngModel)]="addedItem.org" name="org" required/><br>
    
        <label for="email">Email: </label>
        <input type="text" [(ngModel)]="addedItem.email" name="email" required><br>
    
        <label for="orgEhActive">ORG EH active: </label>
        <input type="text" [(ngModel)]="addedItem.orgEhActive" name="orgEhActive" required><br>

        <label for="hhBisBeladezeitendePreisabgabge">HH bis Beladezeitende Preisabgabge: </label>
        <input type="text" [(ngModel)]="addedItem.hhBisBeladezeitendePreisabgabge" name="hhBisBeladezeitendePreisabgabge" required><br>

        <label for="hhBisBeladezeitendeGültigkeit">HH bis Beladezeitende Gueltigkeit: </label>
        <input type="text" [(ngModel)]="addedItem.hhBisBeladezeitendeGueltigkeit" name="hhBisBeladezeitendeGültigkeit" required><br>
    
        <label for="mindestPreisCheck">Mindest-preis check: </label>
        <input type="text" [(ngModel)]="addedItem.mindestPreisCheck" name="mindestPreisCheck" required ><br>

        <label for="anzahlLadungenAmTag">Anzahl Ladungen am Tag: </label>
        <input type="text" [(ngModel)]="addedItem.anzahlLadungenAmTag" name="anzahlLadungenAmTag" required><br>

        <label for="multiplikator">Multiplikator: </label>
        <input type="text" [(ngModel)]="addedItem.multiplikator" name="multiplikator" required><br>

        <label for="zusätzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt">Multiplikator: </label>
        <input type="text" [(ngModel)]="addedItem.zusaetzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt" name="zusätzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt" required><br>

        <label for="ausnahmenAllgGültigerFilterkriterienAufDieserOrgUnit">Multiplikator: </label>
        <input type="text" [(ngModel)]="addedItem.ausnahmenAllgGueltigerFilterkriterienAufDieserOrgUnit" name="ausnahmenAllgGültigerFilterkriterienAufDieserOrgUnit" required><br>
        
        <input type="submit" value="Speichern">
    </form>
    <form #editForm="ngForm" *ngIf="editedItem" (ngSubmit)="onSubmitEdit(editForm)" style="background-color:#f8f8f8; padding: 15px; ">
        <h3>Bearbeiten</h3> 
        <label for="org">ORG Einheit: </label>
        <input type="text" [(ngModel)]="editedItem.org" name="org" disabled=""><br>
    
        <label for="vonLand">Email: </label>
        <input type="text" [(ngModel)]="editedItem.email" name="email" required><br>
    
        <label for="zuLand">ORG EH active: </label>
        <input type="text" [(ngModel)]="editedItem.orgEhActive" name="orgEhActive" required><br>

        <label for="zuLand">HH bis Beladezeitende Preisabgabge: </label>
        <input type="text" [(ngModel)]="editedItem.hhBisBeladezeitendePreisabgabge" name="hhBisBeladezeitendePreisabgabge" required><br>

        <label for="zuLand">HH bis Beladezeitende Gueltigkeit: </label>
        <input type="text" [(ngModel)]="editedItem.hhBisBeladezeitendeGueltigkeit" name="hhBisBeladezeitendeGültigkeit" required><br>
    
        <label for="zuLand">Mindest-preis check: </label>
        <input type="text" [(ngModel)]="editedItem.mindestPreisCheck" name="mindestPreisCheck" required><br>

        <label for="zuLand">Anzahl Ladungen am Tag: </label>
        <input type="text" [(ngModel)]="editedItem.anzahlLadungenAmTag" name="anzahlLadungenAmTag" required><br>

        <label for="zuLand">Multiplikator: </label>
        <input type="text" [(ngModel)]="editedItem.multiplikator" name="multiplikator" required><br>

        <label for="zusätzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt">Zusaetzliche Disqualifikationskriterien auf ORG Unit level Komma getrennt: </label>
        <input type="text" [(ngModel)]="editedItem.zusaetzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt" name="zusätzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt" required><br>

        <label for="ausnahmenAllgGültigerFilterkriterienAufDieserOrgUnit">Ausnahmen allg. gueltiger Filterkriterien auf dieser ORG Unit: </label>
        <input type="text" [(ngModel)]="editedItem.ausnahmenAllgGueltigerFilterkriterienAufDieserOrgUnit" name="ausnahmenAllgGültigerFilterkriterienAufDieserOrgUnit" required><br>

        <input type="submit" value="Speichern">
    </form>
    <table>
        <tr>
            <th>ORG Einheit</th>
            <th>Email</th>
            <th>ORG EH active</th>
            <th>HH bis Beladezeitende Preisabgabge</th>
            <th>HH bis Beladezeitende Gueltigkeit</th>
            <th>Mindest-preis check</th>
            <th>Anzahl Ladungen am Tag</th>
            <th>Multiplikator</th>
            <th>Zusaetzliche Disqualifikationskriterien auf ORG Unit level Komma getrennt</th>
            <th>Ausnahmen allg. gueltiger Filterkriterien auf dieser ORG Unit</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let item of data">
            <td>{{item.org}}</td>
            <td>{{item.email}}</td>
            <td>{{item.orgEhActive}}</td>
            <td>{{item.hhBisBeladezeitendePreisabgabge}}</td>
            <td>{{item.hhBisBeladezeitendeGueltigkeit}}</td>
            <td>{{item.mindestPreisCheck}}</td>
            <td>{{item.anzahlLadungenAmTag}}</td>
            <td>{{item.multiplikator}}</td>
            <td>{{item.zusaetzlicheDisqualifikationskriterienAufOrgUnitLevelKommaGetrennt}}</td>
            <td>{{item.ausnahmenAllgGueltigerFilterkriterienAufDieserOrgUnit}}</td>
            <button type="button" class="btn btn-default btn-sm" (click)="editItem(item)">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            
        </tr>
    </table>
   

</body>
</html>