<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div *ngIf="!filterMode" style="text-align: center;">
            <h1>Pricing Broker App</h1>
            <p class="lead">Bitte filtere deine Informationen</p>
            <div class="text-center">
            <button (click)="filterToggle()" class="btn btn-primary btn-lg me-2">Filter</button>
            </div>  
        </div>
    
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <p>Filter form goes here</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>